In [16]:
import pandas as pd
import numpy as np
import pickle
import time

In [15]:
available_new = {'Table': 50,
 'Chair': 150,
 'Bed': 25.0,
 'Rack': 75.0,
 'Almirah': 70.0,
 'Fan': 70.0,
 'Geyser': 70.0,
 'AC': 70.0,
 'Refrigerator': 65.0,
 'Water cooler': 70.0}

In [7]:
available_old = {'Table': 50,
 'Chair': 150,
 'Bed': 25.0,
 'Rack': 75.0,
 'Almirah': 70.0,
 'Fan': 70.0,
 'Geyser': 70.0,
 'AC': 70.0,
 'Refrigerator': 65.0,
 'Water cooler': 70.0}

In [9]:
mod.function_execute()

Which product ?table
Which stock new or old? new
Do you want to remove or add the ? add
Enter how many are removed or added? 100

In [ ]:
available_old

In [10]:
available_new

{'Table': 150,
 'Chair': 150,
 'Bed': 25.0,
 'Rack': 75.0,
 'Almirah': 70.0,
 'Fan': 70.0,
 'Geyser': 70.0,
 'AC': 70.0,
 'Refrigerator': 65.0,
 'Water cooler': 70.0}

In [ ]:

def function_execute():
    a = input('Which product ?').title()
    b = input('Which stock new or old? ')
    d = input('Do you want to remove or add the ? ')
    c = int(input('Enter how many are removed or added? '))
    if d == 'remove':
        if b == 'new':
            if a in available_new:
                try:
                    exist = available_new[a]
                except:
                    print('First add the product in the list')
                    return None
                exist -= c
                available_new.update({a:exist})
            else:
                print('The product not avaliable')
        elif b == 'old':
            if a in available_old:
                try:
                    exist = available_old[a]
                except:
                    print('First add the product in the list')
                    return None
                exist -= c
                available_old.update({a:exist})
            else:
                print('The product not avaliable')
        else:
            print('enter valid stock')
    elif d == 'add':
        if b == 'new':
            if a in available_new:
                try:
                    exist = available_new[a]
                except:
                    print('First add the product in the list')
                    return None
                exist += c
                available_new.update({a:exist})
            else:
                print('The product not avaliable')
        elif b == 'old':
            if a in available_old:
                try:
                    exist = available_old[a]
                except:
                    print('First add the product in the list')
                    return None
                exist += c
                available_old.update({a:exist})
            else:
                print('The product not avaliable')
        else:
            print('enter valid stock')

function_execute()

In [18]:
print(available_old)

{'Table': 50, 'Chair': 150, 'Bed': 25.0, 'Rack': 75.0, 'Almirah': 70.0, 'Fan': 70.0, 'Geyser': 70.0, 'AC': 70.0, 'Refrigerator': 65.0, 'Water cooler': 70.0}

In [19]:
print(available_new)

{'Table': 50, 'Chair': 150, 'Bed': 25.0, 'Rack': 75.0, 'Almirah': 70.0, 'Fan': 70.0, 'Geyser': 70.0, 'AC': 70.0, 'Refrigerator': 65.0, 'Water cooler': 70.0}

In [35]:
import pandas as pd

In [108]:
df = pd.read_csv('DATA.csv')
df

  available_items  available_amount_old  available_amount_new
0           TABLE                    50                    50
1           CHAIR                   150                   150
2             BED                    25                    25
3            RACK                    75                    75
4         ALMIRAH                    70                    70
5             FAN                    70                    70
6          GEYSER                    70                    70
7              AC                    70                    70
8    REFRIGERATOR                    60                    65
9    WATER COOLER                    70                    70

In [120]:
df.loc[(df['available_items'] == 'CHAIR')]['available_amount_old'].values[0]

150

In [123]:
def function_execute():
    a = input('Which product ? : ').upper()
    b = input('Which stock new or old? : ').lower()
    d = input('Do you want to remove or add the ? : ').lower()
    c = int(input('Enter how many are removed or added? : '))
    if d == 'remove':
        if b == 'new':
            if a in df['available_items'].values:
                try:
                    exist = df.loc[(df['available_items'] == a)]['available_amount_new'].values[0]
                except:
                    print('First add the product in the list')
                    return None
                exist -= c
                df.at[df.loc[df['available_items'] == a].index[0] , 'available_amount_new']  = exist
            else:
                print('The product not avaliable')
        elif b == 'old':
            if a in df['available_items'].values:
                try:
                    exist = df.loc[(df['available_items'] == a)]['available_amount_old'].values[0]
                except:
                    print('First add the product in the list')
                    return None
                exist -= c
                df.at[df.loc[df['available_items'] == a].index[0] , 'available_amount_old']  = exist
            else:
                print('The product not avaliable')
        else:
            print('enter valid stock')
    elif d == 'add':
        if b == 'new':
            if a in df['available_items'].values:
                try:
                    exist = df.loc[(df['available_items'] == a)]['available_amount_new'].values[0]
                except:
                    print('First add the product in the list')
                    return None
                exist += c
                df.at[df.loc[df['available_items'] == a].index[0] , 'available_amount_new']  = exist
            else:
                print('The product not avaliable')
        elif b == 'old':
            if a in df['available_items'].values:
                try:
                    exist = df.loc[(df['available_items'] == a)]['available_amount_old'].values[0]
                except:
                    print('First add the product in the list')
                    return None
                exist += c
                df.at[df.loc[df['available_items'] == a].index[0] , 'available_amount_old']  = exist
            else:
                print('The product not avaliable')
        else:
            print('enter valid stock')

function_execute()

Which product ? : almirah
Which stock new or old? : new
Do you want to remove or add the ? : remove
Enter how many are removed or added? : 10

In [124]:
df

  available_items  available_amount_old  available_amount_new
0           TABLE                    50                   150
1           CHAIR                   250                   150
2             BED                    25                    25
3            RACK                    75                    75
4         ALMIRAH                    70                    60
5             FAN                    70                    70
6          GEYSER                    70                    70
7              AC                    70                    70
8    REFRIGERATOR                    60                    65
9    WATER COOLER                    70                    70